<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>Med Counter</title>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="">

		<script src="angular.min.js"></script>
		<link rel="stylesheet" href="bootstrap.min.css">
		<script src="jquery-3.1.1.slim.min.js"></script>
		<script src="tether.min.js"></script>
		<script src="bootstrap.min.js"></script>

		<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
	<body ng-controller="myCtrl">
		<div class="container">
			<div class="alert alert-warning" role="alert" ng-hide="hideAlert">This browser does not support local storage.</div>
			<h1 class="text-center">Med Counter</h1>
			<div class="row justify-content-md-center" ng-repeat="bottle in bottles">
				<div class="col-8 card">
					<h2>Bottle {{bottle.name}}</h2>
					<div class="row">
						<div class="col-4">
							<button type="submit" class="btn" ng-click="minusValue(bottle.id)">-</button>
						</div>
						<div class="col-4">
							<input type="text" class="form-control" ng-model="bottle.value" />
						</div>
						<div class="col-4">
							<button type="submit" class="btn" ng-click="addValue(bottle.id)">+</button>	
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 text-center">
					<button type="submit" class="btn btn-danger" ng-click="reset()">Reset All</button>
				</div>
			</div>
	    </div><!-- /.container -->

	<script src="myApp.js"></script>
	<script src="myCtrl.js"></script>
	</body>
</html>
