%align-center {text-align: center;}
%align-right {text-align: right;}

.table thead tr th {
	@extend %align-center;
}

.table tbody tr td:last-child {
	@extend %align-right;
}

.table tfoot tr th:last-child {
	@extend  %align-right;
}

.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgba(0,0,0,.1);
}